%h1 Listing settings

%table.table.table-striped
  %tr
    %th Setting key
    %th Setting value
    %th

  - @settings.each do |setting|
    %tr
      %td= setting.setting_key.humanize
      %td= setting.setting_value
      %td= link_to 'Edit', edit_setting_path(setting)

%br

= link_to 'New Setting', new_setting_path
